.home-container-wrapper .valid-rule {

    background-color: #70B933 !important;
}

.home-container-wrapper .invalid-rule {

    background-color: #9D1129 !important;
}

.home-container-wrapper .valid-rule-text {

    color: #70B933 !important;
}

.home-container-wrapper .invalid-rule-text {

    color: #9D1129 !important;
}

.home-container-wrapper > .title {

    color: black;
    font-weight: bold;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.home-container-wrapper >  .wrapper {

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.home-container-wrapper >  .wrapper > .board-wrapper {

    display: flex;
    flex-direction: column;
}
            
.home-container-wrapper >  .wrapper > .board-wrapper > .row {
    
    margin-bottom: 10px;
    display: flex;
}
    
.home-container-wrapper >  .wrapper > .board-wrapper > .row > .letter {
    
    background-color: #F4A044;
    margin-right: 8px;
    border-radius: 5px;
    border: 1px solid #9D1129;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.home-container-wrapper >  .wrapper > .board-wrapper > .row > .letter > button {

    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

.home-container-wrapper >  .wrapper > .board-wrapper > .row > .letter > button > span {
    
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px #383737;
}

.home-container-wrapper >  .wrapper > .actions {

    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 210px;
}

.home-container-wrapper >  .wrapper > .actions > .input-wrapper {

    border: 1.5px solid #aeabab;
    padding: 10px 5px 10px 5px;
    display: flex;
}

.home-container-wrapper >  .wrapper > .actions > .input-wrapper > input {

    border: 0px;
    width: 80%;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.home-container-wrapper >  .wrapper > .actions > .input-wrapper > .notifier {

    opacity: 0.5;
    margin-top: 2px;
    margin-left: 5px;
    width: 50px;
}

.home-container-wrapper >  .wrapper > .actions > .clear-buttom-wrapper {

    text-align: right;
}

.home-container-wrapper >  .wrapper > .actions > .clear-buttom-wrapper > button {

    border: 0px;
    background-color: transparent;
    cursor: pointer;
}

.home-container-wrapper >  .wrapper > .actions > .clear-buttom-wrapper > button > span:nth-child(1) {

    color: #4d4d4d;
    margin-right: 10px;
}

.home-container-wrapper >  .wrapper > .actions > .clear-buttom-wrapper > button > span:nth-child(2) {

    background-color: #4d4d4d;
    border-radius: 50%;
    width: 25px;
    height: 20px;
    display: inline-block;
    color: white;
    padding-top: 5px;
}

/* Mobile CSS */
@media all and (max-width: 450px) {

    .home-container-wrapper > .wrapper {

        position: relative;
    }

    .home-container-wrapper > .wrapper > .board-wrapper {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .home-container-wrapper > .wrapper > .actions {

        margin-left: 0px;
        height: 350px;
    }
}